name: Proceso Completo Fudo

on:
  schedule: 
    - cron: "30 17 * * *"   
  workflow_dispatch:        # Para ejecutarlo a mano

jobs:
  ejecutar-pasos:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar dependencias
        run: pip install -r requirements.txt

      - name: Paso 1 - Descarga de Datos
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
        run: python fudo_bot_prueba.py

      - name: Paso 2 - Descargar costos
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
        run: python fudo_bot_costos.py
      

      - name: Paso 4 - Costo de Venta
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
        run: python fudo_bot_costos_ventas.py
        
      - name: Paso 5 - Historico
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
        run: python fudo_bot_historico.py
        
      - name: Paso 6 - Cliente
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
        run: python fudo_bot_turno.py
        
      - name: Paso 7 - Matriz
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
        run: python fudo_bot_matriz.py
      - name: Paso 8 - Limpieza
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
        run: python fudo_bot_limpiodatos_antes_del_alerta.py
      - name: Paso 9 - Alerta
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
        run: python fudo_bot_alerta.py
      
      - name: Paso 10 - Envio
        env:
         GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
         MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }} # ESTA LÍNEA ES OBLIGATORIA
        run: python fudo_bot_envio.py
